.circle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: blue;
  alignment: center;
}

.square {
  width: 50px;
  height: 50px;
  border-radius: 2px;
  background-color: blue;
}
